form {
  .buttons input {
    margin: auto;
    display: block;
  }

  .name,.contact {
    @include media ($medium-screen) {
      li {
        width: 50%;
        float: left;
        input {
          width: 95%;
        }
      }
    }
  }
}
