.org-chart {
  margin: 0 auto;
  width: 90%;
  text-align: center;

  li {
    position: relative;
    text-transform: uppercase;
    list-style: none;
    padding-bottom: 20px;
    span:after {
      content: "";
      border-left: 1px #999  solid;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 23px;
      @include media ($medium-screen) {
        top:29px
      }
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
}
