.triptych img {
  float: left;
  width: 50%;
  margin-right: -1px;
  &:last-child {
    display: none;
  }
  @include media ($medium-screen) {
    width: 33.4%;
    display: block !important;
  }
}

.copy-wrapper {
  clear: both;
  padding: $container-spacing 0;
}
