
body {
  background-color: $light-gray;
  color: $medium-gray;
}

#main-content {
  margin-top: $navigation-height + $container-spacing;
}

#footer {
  clear: both;
  background: $white;
  padding: 30px;
  width: 100%;
  height: $footer-height;
}

.hide {
  display: none;
}

.intro,
.info,
.copy {
  margin: auto;
  width: 90%;
  max-width: 700px;
}
