#main-content {
  @include media ($medium-screen) {
    margin-top: $navigation-height;
  }
}

#footer {
  clear: both;
  background: $white;
  padding: $container-spacing;
  width: 100%;
  a {
    color: $base-font-color;
  }
}

.hide {
  display: none;
}

.copy {
  margin: auto;
  width: 90%;
  max-width: 800px;
}

.information-for-parents ul li{
  margin-bottom: 1.5em;
}
