---
title: About Memorial Spalding
description: Memorial Spalding an afterschool Program
---

.intro
  %h1 Memorial Spaulding School Extended Day Program

  %p Extended Day provides a semi-structured recreational program based on each child’s needs and interests on-site at the Memorial Spaulding School in Newton. Our curriculum is designed to complement the children’s day in an informal and relaxed setting and our staff is dedicated to making every day a supportive and joyful experience for each child.

.org-chart
  %h2 The Extended Day Program Organizational Chart

  %ul
    %li Administrator
    %li Site Coordinator
    %li Kindergarten Coordinator
    %li Group Leader
    %li Assistant Leader
