---
title: About Memorial Spaulding
description: Memorial Spaulding an afterschool Program
---
= image_tag "About_Banner_SM.jpg", :alt => "Kids at Work", :id => "About-banner"

.copy-wrapper
  .copy
    %h1 Memorial Spaulding School Extended Day Program

    %p Extended Day provides a semi-structured recreational program based on each child’s needs and interests on-site at the Memorial Spaulding School in Newton. Our curriculum is designed to complement the children’s day in an informal and relaxed setting and our staff is dedicated to making every day a supportive and joyful experience for each child.

= partial 'views/shared/triptych',
  locals: { photos: ['About_1_Drawing', 'About_2_LadybugBoard', 'About_3_ConnectFour'] }

.copy-wrapper
  .org-chart
    %h2 The Extended Day Program Organizational Chart

    %ul
      %li
        %span Administrator
      %li
        %span Site Coordinator
      %li
        %span Kindergarten Coordinator
      %li
        %span Group Leader
      %li Assistant Leader

= partial 'views/shared/triptych',
  locals: { photos: ['About_4_Books', 'About_5_BoyBack', 'About_6_DoorSign'] }
