---
title: Find the Memorial Spaulding Afterschool Program
description: Parents can get find Memorial Spaulding located in Newton Center Mass.
--
= partial 'views/shared/triptych',
  locals: { photos: ['Location_1_Playground', 'Location_2_HandprintImages', 'Location_3_BoyHomework'] }
